/*

Created by Dennis Linnemann

*/
p {
  font-size: 15px;
  line-height: 25px;
}


body {
  position: relative;
  /* we need this for the scrollspy */
  font-size: 1.25em;
}

a {
  color: #3CC;
}

a:hover {
  color: #FF0;
}


/*----------
  MAIN
----------*/
.navbar-brand{
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin-right: 1.5rem;
}
.navbar-brand img {
  width: 2.5em;
}
.navbar-brand span {
font-size: 1.25em;
padding-left: .5em;
}
.navbar a {
  font-size:;
}
.primary-button a {
  display: inline-block;
  background-color: #F49423;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}


.parallax-content {
  width: 100%;
  min-height: 100vh;
}


#logo {
  width: 20em;
  content: url("../img/logo.svg");
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s;
  padding-top: 30vh;
}


.banner-content {
  text-align: center;
}

.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  padding-bottom: 5vh;
  background-image: url(../img/2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-position: center center;
}

.service-content .row {
  justify-content: center;
}

.service-content .service-container {
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
  margin: 0 1em 2em;
  text-align: center;
}

.service-content .service-item {
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  border: .20em solid #F9B232;
  border-radius: 1.5em;
  height: 15em;
  margin-bottom: -0.5em;
}

.service-content span {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background-color: #F49423;
  border-radius: .25em;
  padding: .15em .25em;
  bottom: 0;
  box-shadow: -3px 1px 0px 1px #1d1d1b;
}
.service-content a {
  text-decoration: none;
}

.service-content .service-container:hover {
  cursor: pointer;
} 

#buchstaben {
  background-image: url("../img/buchstaben.png");
}

#polo {
  background-image: url("../img/polo.png");
}

#neon {
  background-image: url("../img/neon.png");
}

#kfz {
  background-image: url("../img/kfz.png");
}

#ausleger {
  background-image: url("../img/ausleger.png");
}

#wandlogo {
  background-image: url("../img/wandlogo.png");
}

#rollup {
  background-image: url("../img/rollup.png");
}

#textil {
  background-image: url("../img/textil.png");
}

.main-content {
  background-image: url(../img/3rd-section.jpg);
  }

.main-content .row {
  padding: 0 3.25em 0;
}
.main-container1 .row .col {
  background-color: #242529;
  width: 50vh;
  min-height: 100vh; 
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.social-link:hover {
  background-color: #fff;
}

.contact-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16vh;
  background-image: url(../img/shoppic.jpg);
}

.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
  background-color: #F49423;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}



footer {
  text-align: center;
  background-color: #242529;
  padding: 2em 0px;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #F49423;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}

@media (min-resolution: 125dpi) {

body {
    font-size: 16px;
  }

  #logo {
    width: 15em;
  }

  .navbar-brand img {
  width: 2em;
}
.navbar-brand span {
font-size: unset;
  
}
@media (max-width: 767px) {

  #logo {
    width: 15em;
  }

  .service-content {
    padding-top: 15vh;
    padding-bottom: 2vh;
    text-align: center;
  }

  .service-content .service-container {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
  }

}

@media (min-width: 1200px) {

  .container {
    max-width: 1170px;
  }
}

@media (max-height: 767px) {
 #logo {
  width: 8em;
 }
}
