/*

Created by Dennis Linnemann

- !Splash Page für Cookies (fertig - Es werden keine Cookies gesetzt, aber falls doch, dann in tracking.js einfügen)
- ?Impressum & AGB hinzufügen (footer)
    -AGB PDF, Impressum  in Footer (eventuell link in navigation)
- ?Kontakt bearbeiten für besseres Scaling (zu klein auf <250dpi)
- ?Social Media Links auswechseln
- ?Bilder ersetzen
- ?Parallax korrigieren
- ?Navbar ausblenden ? Mobile-only ?
- ?Fixiertes Scrolling für Main Content Bereich ?

*/

p {
  font-size: 15px;
  line-height: 25px;
}


body {
  position: relative;
  /* we need this for the scrollspy */
  font-size: 1.25em;
}

button a {
  color: inherit;
  text-decoration: none;
}

button a:hover {
  color: #242529;
  text-decoration: none;
}


/*----------
  MAIN
----------*/
#navbar {
  transition: top .5s ease ;
}
.navbar-brand{
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin-right: 1.5rem;
}
.navbar-brand img {
  width: 2.5em;
}
.navbar-brand span {
font-size: 1.25em;
padding-left: .5em;
}
.termsfeed-com---palette-dark.termsfeed-com---nb {
  background-color: #242529 !important; 
}

.termsfeed-com---palette-dark .cc-nb-okagree {
  color: #fff !important;
  background-color: #F49423 !important;
  border-color: #fff;
}

.termsfeed-com---palette-dark .cc-nb-reject {
  color: #f4f4f4!important;
    background-color: #b67a35 !important;
    border-color: #fff !important;
}

.termsfeed-com---palette-dark .cc-cp-foot-save {
    background: #F49423 !important;
    color: #fff !important;
}
.termsfeed-com---palette-dark .cc-nb-okagree:focus,
.termsfeed-com---palette-dark .cc-nb-reject:focus,
.termsfeed-com---palette-dark .cc-cp-foot-save:focus
 {
    box-shadow: 0 0 0 2px #fff !important;
}
.termsfeed-com---palette-dark .cc-cp-body-tabs-item-link:focus,
.termsfeed-com---palette-dark .cc-pc-head-lang select:focus {
  box-shadow: 0 0 0 2px #F49423 !important; 
}
.termsfeed-com---pc-dialog .cc-cp-foot-byline a {
  color: #F49423 !important;
}
.primary-button a {
  display: inline-block;
  background-color: #F49423;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.primary-button a:hover {
  color: #242529;
}

.parallax-content {
  width: 100%;
  min-height: 100vh;
}

.parallax-window {
  min-height: 100vh;
  width: 100%;
  background: transparent;
}

#logo {
  width: 100%;
  content: url("../img/logo.svg");
  
  
}


.banner-content {
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s;
  padding-top: calc(100vh / 3.5);
  width: calc(100vh / 3);
}

.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  padding-bottom: 5vh;
  background-image: url(../img/2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-position: center center;
  border: 0.5em #F49423;
  border-bottom-style: solid;
}
.service-content .container {
  max-width: none;
}

.service-content .row {
  justify-content: center;
}

.service-content .service-container {
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  margin: 0 1em 2em;
  text-align: center;
  filter: brightness(.8);
}

.service-content .service-item {
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  border: .20em solid #F9B232;
  border-radius: 1.5em;
  height: 18em;
  margin-bottom: -0.5em;
}

.service-content span {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background-color: #F49423;
  border-radius: .25em;
  padding: .15em .25em;
  bottom: 0;
  box-shadow: -3px 1px 0px 1px #1d1d1b;
}
.service-content a {
  text-decoration: none;
}

.service-content .service-container:hover {
  cursor: pointer;
  filter: brightness(1);
} 

#buchstaben {
  background-image: url("../img/buchstaben.png");
}

#polo {
  background-image: url("../img/polo.png");
}

#neon {
  background-image: url("../img/neon.png");
}

#kfz {
  background-image: url("../img/kfz.png");
}

#ausleger {
  background-image: url("../img/ausleger.png");
}

#wandlogo {
  background-image: url("../img/wandlogo.png");
}

#rollup {
  background-image: url("../img/rollup.png");
}

#textil {
  background-image: url("../img/textil.png");
}

.main-content {
  color: #fff;
  /*background-image: url(../img/3rd-section.jpg);*/
  overflow: hidden;
  border: 0.5em #F49423;
  border-bottom-style: solid;

  }

.main-content h1 {
  color: #F49423;
  font-size: 3em;  
}
.main-content h2 {
  color: #F49423;
  margin-top: -.5em;
}
.main-content span {
  font-size: 1.25em;
  display: inline-block;
  margin-bottom: 2em;
  margin-top: 1em;
}

.main-container {
  position: absolute;
  z-index: 1;
  background-color: #242529;
  float: left;
  width: 40%;
  height: 100vh;
  padding-top: 12vh;
  padding-left: 10vh;
  padding: 12vh 5vh 0 10vh;
  border: 0.5em #F49423;
  border-right-style: solid;
  
}

.main-right {
  position: relative;
  background-color: #242529;
  float: right;
  border-left-style: solid;
  border-right-style: none;  
}

.slider-right {
  float: right;
  width: 61%;
  height: 100vh;
  background-color: #F49423;
}

.slider-left {
  position: absolute;
 float: left;
  width: 61% ;
  height: 100vh;
  background-color: #F49423;
}
.carousel-inner, .carousel-item {
  height: 100vh !important;
}
 .carousel-item img {
  height: 100%;
  min-width: 100%;
 }
.carousel-indicators li {
  background-color: #F49423;
}
.carousel-click-next {
  width: 100%;
  height: 100%;
}

.divider {
  position: absolute;
  background-color: #F49423;
  right: 49.5%;
  height: 100vh;
  width: .8em;
  z-index: 1;
}
.vertical {
  height: .8em;
    width: 100%;
    right: unset;

}
.bottom {
  bottom: 50%;}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.social-link:hover {
  background-color: #fff;
}

.contact-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16vh;
  
}

.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

#contact input {
  border-radius: 3px;
  padding-left: 15px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
  background-color: #F49423;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}
#contact button:hover {
  color: #242529;
}
#contact .button-area span {
  text-align: center;
  margin-top: 0.5em;
}

#loadmap a:hover {
    color: #F49423;
    text-decoration: underline;
  }
.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}

.map .spinner-border {
  position: relative;
}
.modalcolor a {
  color: #F49423;
}
.modalcolor .modal-content {
  background-color: #242529;
  color: #fff;
}

footer {
  text-align: center;
  background-color: #242529;
  padding: 2em 0px;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #F49423;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}


footer span {
  color: #fff;
  font-size: 1.25em;
}

footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}
footer .secondary-button {
  
}
#tmg {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 1em;

}
#tmg a {
  margin-right: 2em;
  margin-left: 1em;
  background-color: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: .75em;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
}
#tmg a:hover {
  color: #fff;
  text-decoration: underline;
}
#open_preferences_center {
  color: #fff;
}
@media (min-resolution: 125dpi) {

body {
    font-size: 16px;
  }

 
  .navbar-brand img {
  width: 2em;
  }

  .navbar-brand span {
    font-size: unset;
  }

  .service-content .service-container {
    -ms-flex: 0 0 22%;
   flex: 0 0 22%;
    margin: 0 1em 2em;
  }
  .service-content .service-item {
    height:  13em;
  }
}




@media (max-width: 915px) and (orientation: landscape) {
  
  .service-content .service-container {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 90%;
    margin: 1em 0.5em 0;
  }
.service-content .service-item {
    height:  7em;
  }
}

@media (max-height: 915px) and (orientation: portrait) {

  .service-content {
    padding-top: 15vh;
    padding-bottom: 2vh;
    text-align: center;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    height: 7em;
  }

  .service-content .service-container {
    ms-flex:  0 0 45%;
    flex: 0 0 45%;
    margin: -0.5em 0.5em 1em
  }
}

@media (min-width: 1200px) {

  .container {
    max-width: 1170px;
  }
}

@media (min-width:1600px) {
  .container {
    max-width: 1530px;
  }
}

@media (hover: none) {

    .service-content .service-container:hover {
    cursor: default;
    filter: unset;
  } 

  .service-content .service-container {
    filter: unset;
  }
}
@media screen and (max-width: 400px) {
  .main-container .main-right { 
   float: none;
   width:auto;
   height:auto;
 }
}
